<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Gobuffalo Examples</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-2 logo">
                          <a href="/"><img src="/assets/images/logo.svg" alt=""></a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-10 titles">
                          <h1>Welcome to Buffalo (EN)</h1>
                          <h2>
                            <a href="https://github.com/gobuffalo/buffalo"><i class="fa fa-github" aria-hidden="true"></i> https://github.com/gobuffalo/buffalo</a>
                          </h2>
                          <h2 class="documentation">
                            <a href="http://gobuffalo.io/"><i class="fa fa-book" aria-hidden="true"></i> Documentation</a>
                          </h2>
                        </div>
                      </div>
                    </div>
                  </header>
                  <%= if (sub-title) { %>
                  <div class="subtitle">
                      <div class="container">
                        <h3><%= sub-title %></h3>
                      </div>
                  </div>
                  <% } %>
      <%= partial("flash.html") %>
      <%= yield %>
            </div>
        </div>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
